*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
ul{
    padding: 0;
    
}
li{
    list-style: none;
}


/* fontawesome */
/* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
 */